p {
  font-family: 'Montserrat', sans-serif;
}

.hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.hover:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: 0.5s;
}

#header-blog-home-blog {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  /*	font-family: 'Satisfy', cursive;*/
  font-weight: 700;
  margin-bottom: 30px !important;
  margin-top: 100px !important;
  text-align: center;
}

#explore {
  font-size: 50px;
  color: #111;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  margin-bottom: 70px !important;
  margin-top: 100px !important;
}

.header-post {
  /*	font-family: 'Satisfy', cursive;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: #111;
  font-weight: 700;
}

.header-post:hover {
  color: #A7E718;
  transition: color 0.3s;
}

.btn-baca {
  background-color: #1A69B8 !important;
}

.btn-baca:hover {
  background-color: #A7E718 !important;
  transition: 0.5s;
}

.btn-baca a {
  color: white !important;
}

.img-post-size {
  height: 300px;
  width: 700px;
  overflow: hidden;
  display: block;
}

.team-padding {
  padding: 15px;
}

/*--------------------------------------------------------------
# header-blog Blog
--------------------------------------------------------------*/
#header-blog {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header-blog #logo {
  float: left;
}

#header-blog #logo h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  letter-spacing: 3px;
  /*  text-transform: uppercase;*/
}

#header-blog #logo h1 a,
#header-blog #logo h1 a:hover {
  color: #fff;
}

#header-blog #logo img {
  padding: 0 10px 0 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header-blog #logo h1 {
    font-size: 26px;
  }

  #header-blog #logo img {
    max-height: 40px;
  }
}

#header-blog {
  background: #1A69B8;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*Warna*/
.green {
  /*hijau*/
  color: #A7E718;
}

.blue {
  /*biru*/
  color: #1A69B8;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}